* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-size: 100%;
    background-image: url(background.png);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header .container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.5px);
}

header .container .tittle {
    font-size: 3rem;
}


#btn_jogar:hover {
    background-color: transparent;
    box-shadow: 0 0 20px 10px rgba(255, 0, 0, 0.8);
    color: white;
}

article .container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_instrucao {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.5px);
    font-size: 2rem;
    padding: 2%;
}

#div_instrucao #span_instrucoes {
    display: flex;
    flex-direction: column;
}

#btn_jogar {
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    font-size: 1.5rem;
    padding: 1.5%;
}

#jogo {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line{
    display: flex;
    gap: 2px;
}

#cruzadinha {
    display: flex;
    flex-direction: column;
    gap: 2px
}

.block{
    height: 32px;
    width: 32px;
    background-color: transparent;
    border: 1px solid transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.block.in {
    border: 1px solid black;
    background-color: white;
}

footer .container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3.5px);
}